import { Logger } from "@universal-packages/logger";
import ExampleApp from "../src/Example.app";

describe("ExampleApp", () => {
  it("works", async () => {
    const app = new ExampleApp(
      { cores: 2, ram: 200 },
      { p: 8080 },
      new Logger({ silence: true }),
      {}
    );

    await app.prepare();
    await app.run();

    // test stuff the app responds to

    await app.stop();
    await app.release();
  });
});
