import { runApp } from '@universal-packages/core'

describe(ExpressApp, (): void => {
  it('works', async (): Promise<void> => {
    const stopApp = await runApp('example-app')

    await stopApp()
  })
})
